*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}

/* navbar start */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.nav_links{
    display: flex;
    list-style-type: none;
    font-weight: normal;
    color: #676767;
}
nav{
    display: none;
}

button{
    border-radius: 20px;
    padding: 15px;
    border: none;
    background-color: rgb(225, 65, 6);
    color: white;
    font-size: 15px;
}

li{
    margin-left: 20%;
}
a{
    text-decoration: none;
    color: black;
}

i{
    color: rgb(225, 65, 6);
    font-size: medium;
    font-weight: normal;
    /* margin-left: 550px; */
}
.icon{
    display: none;
}
.button1{
    display: none;
}
/* .navimg img{
    position: relative;
    left: 0px;
} */
/* Navbar end */


/* Home */
.home{
    background-image: url(../Images/h1_hero1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    margin-bottom: 100px;
}
.button2{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}
.icon1{
    display: none;
}

.home1{
    position: relative;
    text-align: start;
    top: 20%;
    /* padding: 10px 20px; */
   
}
.home1 h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    /* width: 10%; */
    padding: 10px 30px;
}
.home1 p{
    
    font-size: 15px;
    padding: 10px 30px; 
    margin-left: 5px;
    line-height: 25px;
}
.home2 img{
    position: absolute;
    bottom: 5px;
    height: 300px;
}
.home3{
    position: absolute;
    bottom: 40%;
    margin-left: 15%;
    align-self: start;

}
/* About */
.about h4{
    text-align: center;
    color: rgb(225, 65, 6);
    font-weight: normal;
    letter-spacing: 2px;
}
.about h2{
    text-align: center;
    font-size: 30px;
}

.child{
    background-color: #FFF5F2;
   
    border-radius: 0px 0px 70px 0px;
   
    text-align: center; 
    padding: 20px;
    margin: 10px;
}
.child img{
    width: 100%;
   
}
/* Product section */
.product1 img{
    height: 250px;
}
.product{
    
    margin: 20px;
    /* width: 70%; */
}
.product2{
    padding: 10px;
    margin: auto;
    height: 400px;
    /* width: 500px; */
    
}
.product2 p{
    line-height: 30px;
    width: 70%;
}
.product2 h4{
    color: rgb(225, 65, 6);
    letter-spacing: 10px;
    font-weight: normal;
}
.product2 h2{
    font-size: 20px;
}
/* ========================= */

.demo1 img{
    display: none;
}
.demo{
    position: relative;
    background-color: #FFF5F2;
    line-height: 30px;
}
.demo2{
    position: absolute;
    text-align: center;
    /* top: 250px;
    left: 40%; */
}
.demo2 h2{
    margin-left: 10px;
}
.demo2 h4{
    color: rgb(225, 65, 6);
    letter-spacing: 10px;
    font-weight: normal;
    margin-left:15px ;
}
.demo3 img{
    margin-left: 100px;
}
.demo3 h3{
    text-align: center;
    color: #001F50;
    font-weight: normal;
}
.demo3 p{
    text-align: center;
    padding: 20px;
    
}
/* ============================= */
.cake{
    background-image: url(../Images/video-bg.png);
    height: 300px;
    width: 100%;
    /* background-repeat: no-repeat; */
    background-position: bottom;
    position: relative;
    margin-bottom: 100px;
}
.cake img{
   height: 50px;
   width: 50px;
   margin-left: 135px;
   margin-top: 120px;
   color: rgb(225, 65, 6);
   
}
/* ======================= */
.test h4{
    color: rgb(225, 65, 6);
    letter-spacing: 10px;
    font-weight: normal;
    margin-left: 75px;
}
.test h2{
    margin-left: 50px;
} 
.test{
    line-height: 30px;
}
.test1 p{
    width: 80%;
    border-radius: 20px;
    text-align:center; 
    line-height: 25px;
    margin: 50px;
    margin-left: 30px;
    font-size: 25px;
}
.test3 img{
    margin-left: 50px;
}
.test4{
    display: flex;
    justify-content: first baseline;
}
.test2{
    margin-top: 10px;
}
.test2 h3{
    color: #F14E12;
    font-weight: normal;
}
.test2 h5{
    font-weight: normal;
    color: #676767;
}
.testt{
    background-color: #FFF5F2;
   
    border-radius: 0px 0px 70px 0px;   
    text-align: center; 
    padding: 20px;
    margin: 10px;
}
/* ================================ */
.images{
    display: flex;
}
.images img{
    height: 150px;
    width: 150px;
    gap: 0px;
    
}
.img1 {
    display: none;
}
/* ===========footer section========== */
footer{
    background-color: #FFF7F3;
}
.footer1 p{
    line-height: 30px;
    width: 70%;
    text-align: justify;
    margin-left: 20px;
    color: #676767;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer2{
    display: inline-block;
    color: rgb(225, 65, 6);
    font-size: medium;
    font-weight: normal;
    margin-left: 10px;
    
}
.footer3 h2{
    color: #F14E12;
    margin-left: 10px;
}
.footer3 h3{
    font-weight: normal;
    color: #060606;
    margin-left: 10px;
    font-size: 25px;
}
.footer3 li{
    list-style-type: none;
    margin-left: 10px;
    color: #676767;
}
.footer3 p{
    margin-left: 10px;
    color: #676767;
}
.footer4{
    color: #676767;
    text-align: center;
}






@media only screen and (min-width: 768px){
    .home{
        height: 100vh;
        width: 100%;
    }
    .icon1{
        display: block;
        margin: 10px;
    }
    .home h1{
        font-size: 50px;
    /* width: 60%; */
    padding: 10px 50px;
    }
    .home1 p{
        width: 50%;
        
        font-size: 20px;
        padding: 10px 30px; 
        margin-left: 30px;
    }
    .home2 img{
        position: absolute;
        bottom: 5px;
        height: 250px;
    }
    .home3{
        position: absolute;
        bottom: 28%;
        margin-left: 7%;
        align-self: start;
    
    }
    /* ========== */
    .about1{
        display: flex;
        justify-content:center ;
    }
    child {
        width: 60%;
    }
    /* ================ */
    .product{
        /* display: flex;
        justify-content: space-evenly; */
        margin: auto;
        width: 70%;
    }
    .product1 img{
        height: 400px;
        /* margin-left: 150px; */

    }
    .product2{
        padding: 10px;
        margin: 10px;
        height: 400px;
        width: 700px;
        
    }
    .product2 p{
        line-height: 30px;
        
    }
    .product2 h4{
        color: rgb(225, 65, 6);
        letter-spacing: 10px;
        font-weight: normal;
    }
    .product2 h2{
        font-size: 40px;
    }
    /* ============ */
    .demoo{
        position: relative;
    }
   .demo3{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
   }
   .demo4{
    width: 40%;
   }
   .demo2{
    margin-left: 250px;
    margin-top: 50px;
   }
  .demo1 img{
    display: block;
    /* position: absolute; */
    z-index: 999;
    margin-left: 230px;
    margin-top: 40px;
  }
  /* ===================== */
  .cake{
    background-image: url(../Images/video-bg.png);
    height: 400px;
    width: 100%;
    background-size: 100% 100%;
  }
  .cake img{
    height: 75px;
   width: 75px;
   margin-left: 350px;
   margin-top: 150px;
   /* color: rgb(225, 65, 6); */
  }
  /* ============================ */
  .test1 p{
    width: 90%;
    border-radius: 20px;
    text-align: left; 
    line-height: 25px;
    margin: 50px;
    margin-left: 40px;
    font-size: 25px;
}
.testt1{
    display: flex;
    width: 90%;
    justify-content: center;
}
.test{
    margin-left: 250px;
}
.testt{
    padding: 50px;
    margin: 20px;
    margin-left: 100px;
    background-color: white;
}
/* ============================ */
.img1{
    display: inline-block;
}
.images img{
    height: 195px;
    width: 195px;
}

/* ============================ */
/* .f{
    padding: 100px 0px 20px ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */
.footer3{
    width: 45%;
}
.footer3 ul{
    line-height: 40px;
}
.footer3 p{
    line-height: 40px;
}
.footer4{
    background-color:#FFF7F3;
    padding: 20px;
}
.footer5{
    display: flex;
}
.footer p{
    width: 100%;
    margin: 0px;
}


}
@media only screen and (min-width: 992px){
    nav{
        display: block;
    }
    .icon{
        display: block;
        width: 50%;
        margin-left: 650px;
    }
    .iconn{
        display: none;
    }
    
    button{
        border-radius: 20px;
        padding: 10px;
        
    }
    .button1{
        display: block;
    }
    .button1 button{
        margin: 5px;
        border-radius: 20px;
        padding: 15px;
        font-size: 15px;
    }

    .button2{
        display: none;
    }
    .icon1{
        display: none;
    }
    /* ============================= */
    .home{
        height: 100vh;
    }
    .home h1{
        font-size: 70px;
    width: 40%;
    padding: 10px 50px;
    }
    .home p{
        width: 45%;
    
        font-size: 20px;
        padding: 10px 30px; 
        margin-left: 30px;
    }
    .home3{
        position: absolute;
        bottom: 10%;
        left: 5px;
        margin-left: 40px;  
        
    }
    .home2 img{
        position: absolute;
        bottom: -100px;
        height: 300px;
    }
    
    /* =============================== */
    .about1{
        display: flex;
    }
    /* =============================== */
    .product{
        display: flex;
        justify-content: space-evenly;
        margin: 150px;
        margin-top: 20px;
        width: 70%;
    }
    .product1 img{
        height: 500px;
        margin-left: 70px;
    }
    .product2{
        padding: auto;
        margin: auto;
        height: 400px;
        width: 500px;
        
    }
    .product2 p{
        line-height: 30px;
        width: 450px;
    }
    .product2 h4{
        color: rgb(225, 65, 6);
        letter-spacing: 10px;
        font-weight: normal;
    }
    .product2 h2{
        font-size: 50px;
    }
    /* ============================= */
    .demoo{
        position: relative;
    }
    .demo1 img{
        display: block;
        /* position: absolute; */
        margin-left: 990px;
        margin-top: -110px; 
    }
    .demo4{
        width: 20%;
    }
    .demo2{
        margin-left: 600px;
    }
    /* ======================= */
    
    .cake img{
        height: 70px;
        width: 70px;
        position: relative;
        left: 370px;
        margin-bottom: 450px;
        color: rgb(225, 65, 6);
        
     }

     /* ========================== */
     .test{
        line-height: 30px;
        text-align: center;
        margin-left: 5px;
    }
    .test h4{
        margin-left: 20px;
    }
    .test h2{
        margin-left: 10px;
        font-size: 30px;
    }
    .images img{
        height: 350px;
        width: 350px;
        
    }
    .images{
        margin: 40px;
        padding: 20px;
    }
    /* ============ */
    .f{
        /* padding: 100px 0px 20px ; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    /* header{
        width: 100%;
    } */
    .footer5{
        display: flex;
        justify-content: space-between;
    }
    .footer p{
        width: 50%;
    }
    .footer3{
        width: 50%;
    }
    .footer3 p{
        width: 100%;
    }
    .footer4{
        margin-top: 30px;
    }

    




}